@import "tailwindcss";

:root {
  --foreground: #171717;
  --black: #000000;
  --white: #ffffff;
  --primary50: #f6fde6;
  --primary100: #e2f9b0;
  --primary150: #dbf89b;
  --primary200: #d5f78a;
  --primary250: #cbf570;
  --primary300: #c1f354;
  --primary350: #bbf245;
  --primary400: #b5f133;
  --primary450: #adf01a;
  --primary500: #a3ed00;
  --primary600: #94d800;
  --primary700: #74a800;
  --primary800: #5a8200;
  --primary900: #446400;
  --neutral50: #f4f4f4;
  --neutral100: #dddddd;
  --neutral150: #d3d3d3;
  --neutral200: #cccccc;
  --neutral250: #c7c7c7;
  --neutral300: #b5b5b5;
  --neutral350: #aaaaaa;
  --neutral400: #a7a7a7;
  --neutral450: #9e9e9e;
  --neutral500: #919191;
  --neutral600: #848484;
  --neutral700: #676767;
  --neutral800: #505050;
  --neutral900: #3d3d3d;
  --neutral1000: #000000;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-primary: var(--primary500);
  --color-primary50: var(--primary50);
  --color-primary100: var(--primary100);
  --color-primary150: var(--primary150);
  --color-primary200: var(--primary200);
  --color-primary250: var(--primary250);
  --color-primary300: var(--primary300);
  --color-primary350: var(--primary350);
  --color-primary400: var(--primary400);
  --color-primary450: var(--primary450);
  --color-primary500: var(--primary500);
  --color-primary600: var(--primary600);
  --color-primary700: var(--primary700);
  --color-primary800: var(--primary800);
  --color-primary900: var(--primary900);
  --color-neutral50: var(--neutral50);
  --color-neutral100: var(--neutral100);
  --color-neutral150: var(--neutral150);
  --color-neutral200: var(--neutral200);
  --color-neutral250: var(--neutral250);
  --color-neutral300: var(--neutral300);
  --color-neutral350: var(--neutral350);
  --color-neutral400: var(--neutral400);
  --color-neutral450: var(--neutral450);
  --color-neutral500: var(--neutral500);
  --color-neutral600: var(--neutral600);
  --color-neutral700: var(--neutral700);
  --color-neutral800: var(--neutral800);
  --color-neutral900: var(--neutral900);
  --color-neutral1000: var(--neutral1000);
  --color-crystalGreen: var(--primary500);

  --breakpoint-tablet: 820px;
  --breakpoint-desktop: 1200px;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "THICCCBOI";
  src: url("/fonts/THICCCBOI-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--white);
  color: var(--foreground);
  font-family: "THICCCBOI", sans-serif;
}