@import "tailwindcss";

:root {
  --foreground: #171717;
  --black: #000000;
  --white: #ffffff;
  --festivalCaramel: #ce8247;
  --primary50: #f6fde6;
  --primary100: #e2f9b0;
  --primary150: #dbf89b;
  --primary200: #d5f78a;
  --primary250: #cbf570;
  --primary300: #c1f354;
  --primary350: #bbf245;
  --primary400: #b5f133;
  --primary450: #adf01a;
  --primary500: #a3ed00;
  --primary600: #94d800;
  --primary700: #74a800;
  --primary800: #5a8200;
  --primary900: #446400;
  --neutral50: #f4f4f4;
  --neutral100: #dddddd;
  --neutral150: #d3d3d3;
  --neutral200: #cccccc;
  --neutral250: #c7c7c7;
  --neutral300: #b5b5b5;
  --neutral350: #aaaaaa;
  --neutral400: #a7a7a7;
  --neutral450: #9e9e9e;
  --neutral500: #919191;
  --neutral600: #848484;
  --neutral700: #676767;
  --neutral800: #505050;
  --neutral900: #3d3d3d;
  --neutral1000: #000000;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-gray: var(--neutral600);
  --color-festivalCaramel: var(--festivalCaramel);
  --color-primary: var(--primary500);
  --color-primary50: var(--primary50);
  --color-primary100: var(--primary100);
  --color-primary150: var(--primary150);
  --color-primary200: var(--primary200);
  --color-primary250: var(--primary250);
  --color-primary300: var(--primary300);
  --color-primary350: var(--primary350);
  --color-primary400: var(--primary400);
  --color-primary450: var(--primary450);
  --color-primary500: var(--primary500);
  --color-primary600: var(--primary600);
  --color-primary700: var(--primary700);
  --color-primary800: var(--primary800);
  --color-primary900: var(--primary900);
  --color-neutral50: var(--neutral50);
  --color-neutral100: var(--neutral100);
  --color-neutral150: var(--neutral150);
  --color-neutral200: var(--neutral200);
  --color-neutral250: var(--neutral250);
  --color-neutral300: var(--neutral300);
  --color-neutral350: var(--neutral350);
  --color-neutral400: var(--neutral400);
  --color-neutral450: var(--neutral450);
  --color-neutral500: var(--neutral500);
  --color-neutral600: var(--neutral600);
  --color-neutral700: var(--neutral700);
  --color-neutral800: var(--neutral800);
  --color-neutral900: var(--neutral900);
  --color-neutral1000: var(--neutral1000);
  --color-crystalGreen: var(--primary500);

  --breakpoint-tablet: 820px;
  --breakpoint-desktop: 1200px;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "THICCCBOI";
  src: url("/fonts/THICCCBOI-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--white);
  color: var(--foreground);
  font-family: "THICCCBOI", sans-serif;
}

.w-md-editor {
  background-color: var(--white) !important;
  color: var(--black) !important;
  border: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.ace-github-dark {
  background-color: var(--white) !important;
}

.w-md-editor * {
  color: var(--black) !important;
  background-color: var(--white) !important;
}

.wmde-markdown {
  background-color: var(--white) !important;
  color: var(--black) !important;
  margin: 0 !important;
  padding: 0 !important;
}

.wmde-markdown h1,
.wmde-markdown h2,
.wmde-markdown h3,
.wmde-markdown h4,
.wmde-markdown h5,
.wmde-markdown h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.wmde-markdown-color {
  color: var(--black) !important;
}

.w-md-editor-toolbar li>button * {
  color: white !important;
}

.code-highlight * {
  color: white !important;
}

.language-markdown * {
  color: var(--black) !important;
}

.wmde-markdown h1 {
  border-bottom: 1px solid var(--black) !important;
}

.wmde-markdown h2 {
  border-bottom: 1px solid var(--black) !important;
}

.w-md-editor-show-preview .w-md-editor-preview {
  box-shadow: none !important;
  border: none;
}

@keyframes reveal-ltr {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes reveal-ttb {
  0% {
    clip-path: inset(100% 0 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes bg-sweep-ltr {
  0% {
    left: 0;
    width: 0%;
  }

  50% {
    left: 0;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@layer utilities {
  .reveal-ltr {
    position: relative;
    display: inline-block;
    opacity: 0;
    clip-path: inset(0 100% 0 0);
    will-change: clip-path, opacity;
    background-color: transparent;
  }

  .animate-reveal-ltr {
    animation: reveal-ltr 1s ease-out forwards;
    opacity: 1;
  }

  .animate-reveal-ltr.reveal-crystalGreen {
    background-color: var(--color-crystalGreen);
  }

  .animate-reveal-ltr.reveal-white {
    background-color: var(--color-white);
  }

  .animate-reveal-ltr.reveal-festivalCaramel {
    background-color: var(--color-festivalCaramel);
  }

  .reveal-ltr::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  .animate-reveal-ltr::after {
    animation: bg-sweep-ltr 1s ease-out forwards;
  }
}